
<!DOCTYPE html> <!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]--> <!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]--> <!--[if IE 8 ]><html 
class="ie ie8" lang="en"> <![endif]--> <!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]--> <head>
	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title>Lazada Monitoring Team</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
	<meta name="author" content="" />
	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    
	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="styles/skeleton.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/flexslider.css" />
    <link rel="stylesheet" href="styles/color.css" />
	<link rel="stylesheet" href="styles/layout.css" />
    
	<link href='../../fonts.googleapis.com/css@family=Droid+Sans_3A400,700' rel='stylesheet' type='text/css'>
	<!--[if lt IE 9]>
		<script src="../../html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    
    
	<!-- Demo Switcher
	================================================== -->
    <link id="layoutcss" href="styles/fullwidth-layout.css" rel="stylesheet" type="text/css" />
    <link href="styles/style-switcher.css" rel="stylesheet" type="text/css" />
    
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" /> </head> <body> <div id="bodychild">
	<div id="outercontainer">
    
        <!-- HEADER -->
        <div id="outerheader">
        	<div class="container">
			<header id="top" class="twelve columns">
            	<div id="logo" class="three columns alpha"><a href="index.html"><img height="50" src="images/logo.png" alt=""></a></div>
                <section id="navigation" class="twelve columns">
                    <nav id="nav-wrap">
                        <ul id="topnav" class="sf-menu">
				<li class="current"><a href="index.html">DashBoard</a>
				<ul><li><a href="index-ven.html">Sort by Venture</a> </li></ul>
                            <li><a href="alice-live.html">Alice</a>
				<ul>
				<li><a href="alice-live-6h.html">6 hours</a></li>
                                <li><a href="alice-live-3d.html">3 days</a></li>
				</li>
				</ul>
                            <!-- <li><a href="alice-staging.html">Alice-S</a> -->
                             </li>
				<li><a href="bob-live.html">Bob</a><ul>
				<li><a href="bob-live-6h.html">6 hours</a></li>
                                <li><a href="bob-live-3d.html">3 days</a></li>
				</ul><!-- <li><a href="bob-stag.html">Bob-S</a></li> -->
                             </li>
							 <li><a href="OMS.html">OMS</a><li><a href="OPS.html">OPS</a>
							  <li><a href="SellerCenter.html">SC</a>
				<li><a href="RPM.html">RPM</a>
                             </li>
                            <li><a href="zb.html">QuickZ</a>
                            	 </li>
							
                         <li><a href="Duty.html">Duty</a></ul><!-- topnav -->
                    </nav><!-- nav -->
   
                    <div class="clear"></div>
                </section>
                <div class="clear"></div>
            </header>
            </div>
        </div>
        <!-- END HEADER -->
       <div id="outermain" align="center"> 

<h2>ALICE</h2> 

<iframe src="https://rpm.newrelic.com/public/charts/cLPLpzwjga8" width="620" height="200" scrolling="no" frameborder="no"></iframe> 
<iframe src="https://rpm.newrelic.com/public/charts/gSBQX0r0bXk" width="620" height="200" scrolling="no" frameborder="no"></iframe> 
<iframe src="https://rpm.newrelic.com/public/charts/18t7gBWst6Z" width="620" height="200" scrolling="no" frameborder="no"></iframe> 
<iframe src="https://rpm.newrelic.com/public/charts/4U3IhzWKrhF" width="620" height="200" scrolling="no" frameborder="yes"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/9zX7uRAk2d3" width="620" height="200" scrolling="no" frameborder="no"></iframe> 
<iframe src="https://rpm.newrelic.com/public/charts/4oKQ8eSC7dX" width="620" height="200" scrolling="no" frameborder="no"></iframe> 
<iframe src="https://rpm.newrelic.com/public/charts/59MEkwygyW0" width="620" height="200" scrolling="no" frameborder="no"></iframe> 
<iframe src="https://rpm.newrelic.com/public/charts/9k4gx2Mm8X6" width="620" height="200" scrolling="no" frameborder="no"></iframe> 
<iframe src="https://rpm.newrelic.com/public/charts/hZdi7CWbFRd" width="620" height="200" scrolling="no" frameborder="no"></iframe> 
<iframe src="https://rpm.newrelic.com/public/charts/cKP3ARYpAW8" width="620" height="200" scrolling="no" frameborder="no"></iframe> 
<iframe src="https://rpm.newrelic.com/public/charts/dQo8xVMU6aY" width="620" height="200" scrolling="no" frameborder="no"></iframe> 
<iframe src="https://rpm.newrelic.com/public/charts/7baKtHTSc3" width="620" height="200" scrolling="no" frameborder="no"></iframe> </br> 
<div class="separator line"></div> 

<h2>BOB</h2> 

<iframe src="https://rpm.newrelic.com/public/charts/1iIhQimw3AJ" width="620" height="200" scrolling="no" frameborder="no"></iframe> 
<iframe src="https://rpm.newrelic.com/public/charts/3cbv0G5mYXr" width="620" height="200" scrolling="no" frameborder="no"></iframe> 
<iframe src="https://rpm.newrelic.com/public/charts/jAUPX7HwNbe" width="620" height="200" scrolling="no" frameborder="no"></iframe> 
<iframe src="https://rpm.newrelic.com/public/charts/gE5KpzAzu68" width="620" height="200" scrolling="no" frameborder="no"></iframe> 
<iframe src="https://rpm.newrelic.com/public/charts/fU8cyqRd18V" width="620" height="200" scrolling="no" frameborder="no"></iframe> 
<iframe src="https://rpm.newrelic.com/public/charts/1TYw3KJnHSz" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/kkHUw1v2Eig" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/jq61R5NUpM2" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/ck8BmABbXHU" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/3lPHUmx8e72" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/961A590H9vG" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/ek2714J7ozm" width="620" height="200" scrolling="no" frameborder="no"></iframe> 
<div class="separator line"></div> 

<h2> BOB.local </h2>
<iframe src="https://rpm.newrelic.com/public/charts/imUTA7l8Tmn" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/gXgIr15dN4U" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/e2ao6BiO8Rd" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/3s8nLpT7g7j" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/bicC5YpzocO" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/lan1JLTcrdm" width="620" height="200" scrolling="no" frameborder="no"></iframe>

<iframe src="https://rpm.newrelic.com/public/charts/9swlG7gsKTU" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/hOwHHWB7l2x" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/atfc0kZje6N" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/9WSKTrx2GlP" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/gwsc7cekj7V" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/9pFhwpsmVAR" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<div class="separator line"></div>

<h2> BOB SC </h2>

<iframe src="https://rpm.newrelic.com/public/charts/fnDmMKwlhtp" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/5aerER5OHxv" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/761I1IhEKTo" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/7GhlkUtl66n" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/aVhBi5vEJrp" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/cGj8VChUrrf" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/724vSoGHTS" width="620" height="200" scrolling="no" frameborder="no"></iframe> 
<iframe src="https://rpm.newrelic.com/public/charts/cQUWTvYRnAT" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/cirp2loBMuz" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/kxZ622QdRlC" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/3L7ulhhHsa9" width="620" height="200" scrolling="no" frameborder="no"></iframe> 
<iframe src="https://rpm.newrelic.com/public/charts/lTMVaB6JNB8" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<div class="separator line"></div>

<h2> SC</h2>

<iframe src="https://rpm.newrelic.com/public/charts/a9g235ttfF3" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/6p3VCIXTEe5" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/bQt2pJoD1Dj" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/ebUToXQJUqP" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/i08lU0eXhzV" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/lPHLVcO8HsR" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/5dgXtZqOCa6" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/c9C0uhUd2Uu" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/bDw8V7NIg3u" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/lzYzW4BLhkS" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/jgMkuYoxIhy" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/9aYK8OrwAw0" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<div class="separator line"></div>

<h2> MobAPI </h2>

<iframe src="https://rpm.newrelic.com/public/charts/iEKXLtIGt6J" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/3dAnDMyhFqd" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/2bURAibuu77" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/gG1w9f320VL" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/aGiYQCe1xq0" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/3VnETpT6wbo" width="620" height="200" scrolling="no" frameborder="no"></iframe>

<iframe src="https://rpm.newrelic.com/public/charts/au5RYugyWUc" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/4F9MWT7lw6m" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/fpLXRMC24zx" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/lnOMF8KJ9Ii" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/75nbzvS13qR" width="620" height="200" scrolling="no" frameborder="no"></iframe> 
<iframe src="https://rpm.newrelic.com/public/charts/Vt3TDujKPV" width="620" height="200" scrolling="no" frameborder="no"></iframe>

 <iframe src="https://rpm.newrelic.com/public/charts/cBvfXROwuwR" width="620" height="200" scrolling="no" frameborder="no"></iframe> 
 <iframe src="https://rpm.newrelic.com/public/charts/eK8Gr7cielp" width="620" height="200" scrolling="no" frameborder="no"></iframe> 
 <iframe src="https://rpm.newrelic.com/public/charts/g9b6WKwVZMc" width="620" height="200" scrolling="no" frameborder="no"></iframe> 
 <iframe src="https://rpm.newrelic.com/public/charts/lAqbA9Xb2o" width="620" height="200" scrolling="no" frameborder="no"></iframe> 
 <iframe src="https://rpm.newrelic.com/public/charts/7KJEDwMcdp7" width="620" height="200" scrolling="no" frameborder="no"></iframe> 
<iframe src="https://rpm.newrelic.com/public/charts/73CcbjysmVT" width="620" height="200" scrolling="no" frameborder="no"></iframe>
<div class="separator line"></div>



<h2> OMS <h2> <iframe src="https://rpm.newrelic.com/public/charts/55V4gcTQULS" width="620" height="200" scrolling="no" frameborder="no"></iframe> <iframe 
src="https://rpm.newrelic.com/public/charts/691XbgmZgaI" width="620" height="200" scrolling="no" frameborder="no"></iframe> <iframe 
src="https://rpm.newrelic.com/public/charts/7LvsJexO91T" width="620" height="200" scrolling="no" frameborder="no"></iframe> <iframe 
src="https://rpm.newrelic.com/public/charts/4xpirnIE7KK" width="620" height="200" scrolling="no" frameborder="no"></iframe> <iframe 
src="https://rpm.newrelic.com/public/charts/8OKga7dOulQ" width="620" height="200" scrolling="no" frameborder="no"></iframe> <iframe 
src="https://rpm.newrelic.com/public/charts/d7t6mx9LRE7" width="620" height="200" scrolling="no" frameborder="no"></iframe> <iframe 
src="https://rpm.newrelic.com/public/charts/ZOQrpNwLUO" width="620" height="200" scrolling="no" frameborder="no"></iframe> <iframe 
src="https://rpm.newrelic.com/public/charts/d1G5hVGRkLG" width="620" height="200" scrolling="no" frameborder="no"></iframe> <iframe 
src="https://rpm.newrelic.com/public/charts/2Rm6IRy4cal" width="620" height="200" scrolling="no" frameborder="no"></iframe> <iframe 
src="https://rpm.newrelic.com/public/charts/9IDWeJB8zed" width="620" height="200" scrolling="no" frameborder="no"></iframe> <iframe 
src="https://rpm.newrelic.com/public/charts/7Z9QDd7VlVh" width="620" height="200" scrolling="no" frameborder="no"></iframe> <iframe 
src="https://rpm.newrelic.com/public/charts/hrThXSZSDf7" width="620" height="200" scrolling="no" frameborder="no"></iframe> 
<div class="separator line"></div> 

<h2>RPM</h2> 
<iframe src="https://rpm.newrelic.com/public/charts/gwIrlbXHbKz" width="620" height="300" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/JhTYBFqVlW" width="620" height="300" scrolling="no" frameborder="no"></iframe>
<iframe src="https://rpm.newrelic.com/public/charts/hiFr0aomMp0" width="620" height="300" scrolling="no" frameborder="no"></iframe> 
<iframe src="https://rpm.newrelic.com/public/charts/cKIy5DdUJ9w" width="620" height="300" scrolling="no" frameborder="no"></iframe> 
<iframe src="https://rpm.newrelic.com/public/charts/1v6b6ravWVQ" width="620" height="300" scrolling="no" frameborder="no"></iframe> 
<iframe src="https://rpm.newrelic.com/public/charts/dVajParpivC" width="620" height="300" scrolling="no" frameborder="no"></iframe> 
<!-- <h2>OPS</h2> <iframe 
src="https://rpm.newrelic.com/public/charts/i4auoURk8ox" width="620" height="200" scrolling="no" frameborder="no"></iframe> <iframe 
src="https://rpm.newrelic.com/public/charts/b2NVitX1F6w" width="620" height="200" scrolling="no" frameborder="no"></iframe> <iframe 
src="https://rpm.newrelic.com/public/charts/3UwP3E3M11L" width="620" height="200" scrolling="no" frameborder="no"></iframe> <iframe 
src="https://rpm.newrelic.com/public/charts/dTQAkCL4H66" width="620" height="200" scrolling="no" frameborder="no"></iframe> <iframe 
src="https://rpm.newrelic.com/public/charts/buBEfFQptXL" width="620" height="200" scrolling="no" frameborder="no"></iframe> <iframe 
src="https://rpm.newrelic.com/public/charts/e7wMmSr0K4Z" width="620" height="200" scrolling="no" frameborder="no"></iframe> <h2>Seller Center </h2> <iframe 
src="https://rpm.newrelic.com/public/charts/k0I6ip38ZV2" width="620" height="200" scrolling="no" frameborder="no"></iframe> <iframe 
src="https://rpm.newrelic.com/public/charts/aj2TblZa25G" width="620" height="200" scrolling="no" frameborder="no"></iframe> <iframe 
src="https://rpm.newrelic.com/public/charts/PeA4YhkOZO" width="620" height="200" scrolling="no" frameborder="no"></iframe> <iframe 
src="https://rpm.newrelic.com/public/charts/1vGaCtNyUDl" width="620" height="200" scrolling="no" frameborder="no"></iframe> <iframe 
src="https://rpm.newrelic.com/public/charts/4HifMoeMnW4" width="620" height="200" scrolling="no" frameborder="no"></iframe> <iframe 
src="https://rpm.newrelic.com/public/charts/2z6dfwNcDkR" width="620" height="200" scrolling="no" frameborder="no"></iframe> <iframe 
src="https://rpm.newrelic.com/public/charts/60Le8khRStN" width="620" height="200" scrolling="no" frameborder="no"></iframe> <iframe 
src="https://rpm.newrelic.com/public/charts/1KiIoMzz2l" width="620" height="200" scrolling="no" frameborder="no"></iframe> <iframe 
src="https://rpm.newrelic.com/public/charts/3nh1o1TEQ2d" width="620" height="200" scrolling="no" frameborder="no"></iframe> <iframe 
src="https://rpm.newrelic.com/public/charts/26RBSQG5bA2" width="620" height="200" scrolling="no" frameborder="no"></iframe> <iframe 
src="https://rpm.newrelic.com/public/charts/2rbB2YYUCKs" width="620" height="200" scrolling="no" frameborder="no"></iframe> <iframe 
src="https://rpm.newrelic.com/public/charts/dhiVkwB6afI" width="620" height="200" scrolling="no" frameborder="no"></iframe>
-->
        </dev>
        
		<!-- FOOTER SIDEBAR -->
        <div id="outerfootersidebar">
        	<div class="container">
                <div id="footersidebarcontainer" class="twelve columns">
                    <footer id="footersidebar">
                </div>
            </div>
        </div>
        <!-- END FOOTER SIDEBAR -->
        
        <!-- FOOTER -->
        <div id="outerfooter">
        	<div class="container">
        	<div id="footercontainer" class="twelve columns">
            	<footer id="footer">Copyright &copy;2014 Monitoring Team. All Rights Reserved .  nghi.vu@lazada.com</footer>
              
		 <ul class="sn">
 <!--
                    <li><a href="../../pinterest.com/default.htm" title="Pinterest"><span class="icon-img" 
style="background:url(images/social/pinterest.png)"></span></a></li>
                    <li><a href="../../plus.google.com/default.htm" title="Google Plus"><span class="icon-img" 
style="background:url(images/social/gplus.png)"></span></a></li>
                    
                    <li><a href="../../twitter.com/default.htm" title="Twitter"><span class="icon-img" 
style="background:url(images/social/twitter.png)"></span></a></li> -->
		    <li><a href="https://www.facebook.com/LazadaVietnam" title="Facebook"><span class="icon-img" 
style="background:url(images/social/facebook.png)"></span></a></li>
                </ul>
            </div>
            </div>
        </div>
        <!-- END FOOTER -->
        
	</div><!-- end bodychild --> </div><!-- end outercontainer --> <!-- ////////////////////////////////// --> <!-- // Javascript Files // --> <!-- 
////////////////////////////////// --> <script type="text/javascript" src="js/jquery-1.6.4.min.js"></script> <!-- jQuery Superfish --> <script 
type="text/javascript" src="js/hoverIntent.js"></script> <script type="text/javascript" src="js/superfish.js"></script> <script type="text/javascript" 
src="js/supersubs.js"></script> <!-- jQuery Flexslider --> <script type="text/javascript" src="js/jquery.flexslider-min.js"></script> <!-- jQuery Dropdown 
Mobile --> <script type="text/javascript" src="js/tinynav.min.js"></script> <!-- Custom Script --> <script type="text/javascript" src="js/custom.js"></script> 
<!-- Twitter Script --> <script type="text/javascript" src="js/jquery.tweet.js" ></script> <script type="text/javascript"> jQuery(window).load(function() {
	//Slider
	jQuery('.flexslider').flexslider({
          animation: "fade"
    	});
		
	//Carousel
	jQuery('.flexslider-carousel').flexslider({
	  animation: "slide",
	  animationLoop: false,
	  itemWidth: 220,
	  minItems: 2,
	  maxItems: 4,
	});
		
});
jQuery(document).ready(function() {
	//Twitter
	jQuery("#userandquery").tweet({
	  count: 2,
	  username: "templatesquare",
	  loading_text: "searching twitter..."
	});
});
</script> <!-- Demo Switcher --> <script type="text/javascript" src="js/jquery.cookie.js"></script> <script type="text/javascript" 
src="js/switcher.js"></script> </body> </html>

